{% extends 'chat_layout.html' %}

{% block title %}
{{chat.title}}
{% endblock %}

{% block left-menu %}
{% comment %} Chats List {% endcomment %}
{% comment %} 
<div class="groups-list">
<button class="toggle-btn" onClick="toggleSection('chats-list')">Groups </button><button class="add-grp" onClick="">+</button>
</div>
<article class="sidebar-chat" id="chats-list">
    {% for chat in chats %}
    <a href="{% url 'chat:chat_page' chat.slug %}">
        <h2>{{chat.title}}</h2>
    </a>
    {% endfor %}

</article> {% endcomment %}



{% comment %} Users {% endcomment %}
<button class="toggle-btn users" onClick="toggleSection('users-list')">Users</button>
        
<article class="sidebar-chat" id="users-list">

    {% for user in users %}
    <a href="{% url 'chat:start_chat' user.id %}">
        <h2>{{user.username}}</h2>
    </a>
    {% endfor %}

</article>

{% endblock %}

{% block chat_content %}
<div class="welcome-message">
    <h1>Welcome to Chat</h1>
    <p>Select a user to begin messaging</p>
</div>
{% endblock %}

{% block right-menu %}
No chat selected
{% endblock %}